body{
  background-color: #F7F3F5;
}

.navbar{
  height: 80px;
  width: 100%;
  background-color: #FFFFFF;
  

  
}

.logo{
  align-content: center;
  margin-left: 400px;
  padding-top: 15px;
  
}

.sidedrawer{
  float: right;
  padding-top: 25px;
  display: flex;
  margin-right: 10px;
}
.left-item{
  
  background-color: red;
  color: white;
  border-radius: 5px;
  
}
.drawer_btn {
  color: Red;
  cursor: pointer;
  margin-right: 10px;
}
